{
    "globals": {
        "options": true,
        "mangle": true,
        "rename": true,
        "beautify": true,
        "mozilla_ast": true,
        "console": false,
        "window": false,
        "global": false
    },
    "rules": {
        "semi": "off"
    }
}
